spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &"
spawn-at-startup "/usr/bin/swayosd-server"
spawn-sh-at-startup "qs -c noctalia-shell"
spawn-at-startup "vesktop"
spawn-at-startup "waybar"