workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"

spawn-sh-at-startup "$HOME/.config/niri/scripts/monitor-setup.sh"

output "DP-1" {
    mode "5120x1440@239.761" 
    scale 1
}

output "eDP-1" {
    mode "2560x1440@165.00"
    scale 1
}