    layout {
        gaps 8
        center-focused-column "never"
        background-color "transparent"
        
        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }
        
        focus-ring {
            width 2
            active-color "#ffffff"
            inactive-color "#505050"
        }
        
        border {
            off
        }

        shadow {
            on
            softness 30
            spread 5
            offset x=0 y=5
            color "#0007"
        }

        tab-indicator {
            width 6
            gap 8
            length total-proportion=1.0
            position "bottom"
            place-within-column
        }
        
        insert-hint {
            off
            color "#ffffff80"
        }
        
        struts {}
    }