    window-rule {
        geometry-corner-radius 20
        clip-to-geometry true
        open-maximized false
        open-maximized-to-edges false
        open-fullscreen false
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
    
    window-rule {
        geometry-corner-radius 8
        clip-to-geometry true
    }

    window-rule {
        match app-id="kitty"
        opacity 0.9
        default-column-width { fixed 1600; }
        default-window-height { fixed 1000; }
    }

    window-rule {
        match app-id="^floating$"
        open-floating true
        default-column-width { fixed 720; }
        default-window-height { fixed 900; }
    }

    window-rule {
        match app-id="vesktop"
        open-on-workspace "2"
    }

    window-rule {
        match app-id="polkit-kde-authentication-agent-1"
        match app-id="Bitwarden"
        block-out-from "screen-capture"
    }